:root {
  --light-50: #f8fafc;
  --light-100: #f1f5f9;
  --light-200: #e2e8f0;
  --light-300: #cbd5e1;
  --light-400: #94a3b8;
  --light-500: #64748b;
  --dark-600: #475569;
  --dark-700: #334155;
  --dark-800: #1e293b;
  --dark-900: #0f172a;
  --dark-950: #020617;

  --dark-blue: #080128;
  --full-black: #000;
  --gray-hover: #ccc;

  --text-mid: var(--light-500);
  --text-light: var(--light-400);

  --mid-radius: 6px;
  --anim-time: 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-attachment: fixed;
  background: linear-gradient(var(--dark-blue), var(--full-black));
  min-height: 100vh;
}

main {
  height: 200vh;
}

header {
  animation: 1s ease-in-out fadeIn;
}
