:root {
  --light-50: #f8fafc;
  --light-100: #f1f5f9;
  --light-200: #e2e8f0;
  --light-300: #cbd5e1;
  --light-400: #94a3b8;
  --light-500: #64748b;
  --light-600: #475569;

  --text-light-mid: var(--light-500);
  --text-light-light: var(--light-400);

  --mid-radius: 6px;
  --anim-time: 0.3s;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-attachment: fixed;
  background: linear-gradient(var(--light-50), var(--light-100));
  min-height: 100vh;
}

.nav--fixed {
  position: fixed;
  top: 0;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav--relative {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 40px;
  transition: margin 0.5s;
}

.nav__wrapper {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.nav__child {
  text-decoration: none;
  font-weight: 700;
}

.nav__button,
.nav__logo {
  padding: 5px 15px;
  border-radius: var(--mid-radius);
}

.nav__logo {
  color: var(--text-light-mid);
  background: linear-gradient(var(--light-100), var(--light-200));
  position: fixed;
  top: 10px;
  left: 20px;
}

.nav__button {
  color: #fff;
  background: linear-gradient(rgb(252, 174, 194), rgb(236, 137, 173));
}

.nav__link {
  color: var(--text-light-mid);
  transition: var(--anim-time);
}

.nav__link:hover {
  color: var(--text-light-light);
}
