.button {
  padding: 5px 15px;
  border-radius: var(--mid-radius);
}

.animateVertical svg,
.animateHorizontal svg,
.animateScale svg {
  transition: transform var(--anim-time);
}

.animateVertical:hover svg {
  transform: translateY(10%);
}

.animateHorizontal:hover svg {
  transform: translateX(15%);
}

.animateScale:hover svg {
  transform: scale(1.05);
}
