@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* shared styles */

.nav--fixed,
.nav--relative {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* individual styles */

.nav--fixed {
  position: fixed;
  top: 0;
  right: 20px;
  justify-content: center;
}

.nav--relative {
  justify-content: flex-end;
  padding: 0px 40px;
  animation: var(--anim-time) ease-in-out fadeIn;
}

.nav__wrapper {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.nav__link {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  transition: color var(--anim-time);
}

.nav__link:hover {
  color: var(--text-mid);
}
