@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* shared styles */

.nav--fixed,
.nav--relative {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__button,
.nav__logo,
.nav__link {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav__button,
.nav__icon {
  color: var(--light-100);
  border: 1px solid var(--light-100);
  transition: border-color var(--anim-time);
}

.nav__button svg,
.nav__icon svg {
  margin-bottom: -2px;
}

.nav__button:hover,
.nav__icon:hover {
  border-color: #ccc;
}

/* individual styles */

.nav--fixed {
  position: fixed;
  top: 0;
  right: 20px;
  justify-content: center;
}

.nav--relative {
  justify-content: flex-end;
  padding: 0px 30px;
  animation: var(--anim-time) ease-in-out fadeIn;
}

.nav__wrapper {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.nav__logo {
  color: var(--light-100);
  position: fixed;
  top: 10px;
  left: 20px;
}

.nav__button svg {
  margin-left: -5px;
  margin-right: -5px;
}

.nav__icon {
  width: 300px;
  padding: 5px;
  border-radius: var(--mid-radius);
}

.nav__link {
  color: var(--text-light);
  transition: color var(--anim-time);
}

.nav__link:hover {
  color: var(--text-mid);
}
